<div class="card">
  <div class="card-header" class="seven">
    <br>
    <h1>suivi marche</h1>
  </div>
  <div class="card-body">
    <div class="container text-right">
      <div class="row">
        <div class="col-3">

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Niveau : </label>
            <select class="form-select" aria-label="Default select example" (change)="changeNiveaux($event)">
              <option selected value="0">selectionner un niveau</option>
              <option [value]="ele.id" *ngFor="let ele of niveau">{{ele.description}}</option>
            </select>

          </div>



        </div>
        <div class="col-3">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Projet : </label>
            <select class="form-select" aria-label="Default select example" (change)="changeProjets($event)">
              <option selected value="0">selectionner un projet</option>
              <option [value]="ele.id" *ngFor="let ele of projets">{{ele.objet}}</option>
            </select>

          </div>

        </div>

        <div class="col-3">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Lot : </label>
            <select class="form-select" aria-label="Default select example" (change)="changeLots($event)">
              <option selected value="0">selectionner un lot</option>
              <option [value]="ele.id" *ngFor="let ele of lots">{{ele.intitule}}</option>
            </select>

          </div>

        </div>

        <div class="col-3" *ngIf="!selectedLot">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Marché : </label>
            <select class="form-select" aria-label="Default select example" (change)="changeLots($event)">
              <option selected value="0">selectionner un marché</option>

            </select>

          </div>

        </div>

        <div class="col-3" *ngIf="selectedLot">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Marché : </label>
            <select class="form-select" aria-label="Default select example" (change)="changeMarche($event)">
              <option selected value="0">selectionner un marché</option>
              <option [value]="ele.id_marche" *ngFor="let ele of selectedLot.marches">{{ele.objet}}</option>
            </select>

          </div>

        </div>


      </div>
    </div>
  </div>


  <button type="button" class="btn btn-primary" (click)="changeCard()">Charger </button>

  <!-- <ul>
  <li *ngFor="let st of situation">{{ st.id_marche }}</li>


</ul> -->

  <div *ngIf="marche">

    <div class="group d-flex flex-row">
      <div class="it item">
        <app-helper-cardconponent 
        [color]="situation.avPgt" 
        [title]="situation.avPgt" 
        [sub]="situation.avPgt"
        [icon]=""
        [val]="situation.avPgt"
        [perc]="situation.avPgt"
        [ecart]="situation.avPgt"
        ></app-helper-cardconponent>
      </div>
    </div>


    <table id="customers">
      <tr>

        <th>N° marché</th>
        <th>N° Prix</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Prix_Unitaire</th>
        <th>Montant</th>
        <th>Date demarrage</th>
        <th>Quantité Prevu</th>
        <th>Quantité réalisé</th>
        <th>Montant PGT</th>
        <th>Montant réalisé</th>
        <th>Avancement PGT</th>
        <th>Avancament réalisé</th>
      </tr>

      <tr *ngFor="let ele of situation.situation
            .situationdetail">

        <td>{{situation.numero_marche}}</td>
        <td>{{ele.prix.numprix}}</td>
        <td> {{ele.prix.prix}}</td>
        <td> <input type="number" class="form-control" name="position" [(ngModel)]="ele.prix.qte" /></td>
        <td> <input type="number" class="form-control" name="position" [(ngModel)]="ele.prix.pu" /></td>
        <td>{{ele.prix.montant}}</td>
        <td> <input type="date" class="form-control" name="position" [(ngModel)]="ele.datedemarage"
            [ngModel]="ele.datedemarage | date:'y-MM-dd'" /></td>
        <td> <input type="number" class="form-control" name="position" [(ngModel)]="ele.qteprecu" /></td>
        <td> <input type="number" class="form-control" name="position" [(ngModel)]="ele.qtereacu" /></td>

        <td> {{ele.prix.pu *ele.qteprecu | number : '1.0-2'}} </td>
        <td> {{ele.prix.pu *ele.qtereacu | number : '1.0-2'}} </td>
        <td> {{100*ele.qteprecu/ele.prix.qte | number : '1.0-2'}}%</td>
        <td> {{100* ele.qtereacu/ele.prix.qte | number : '1.0-2'}}%</td>

      </tr>

    </table>


  </div>

  <div *ngIf="marche == null  && selectedLot">
    <div class="group d-flex flex-row">
      <div class="it item" *ngFor="let ele of situation.marcheDtoList
   ">
        <app-helper-cardconponent [color]="ele.avPgt" [title]="ele.avPgt" [sub]="ele.avPgt" [icon]="ele.avPgt"
          [val]="ele.avPgt" [perc]="ele.avPgt" [ecart]="ele.avPgt"></app-helper-cardconponent>
      </div>
    </div>
  </div>

 

  <div *ngIf="marche == null  && selectedLot ==null  && selectedProjet">

    <div class="group d-flex flex-row">
      <div class="it item" *ngFor="let ele of situation.lotDtos">
        <app-helper-cardconponent [color]="ele.avPgt" [title]="ele.avPgt" [sub]="ele.avPgt" [icon]="ele.avPgt"
          [val]="ele.avPgt" [perc]="ele.avPgt" [ecart]="ele.avPgt"></app-helper-cardconponent>
      </div>
    </div>
  </div>


  <div *ngIf="marche == null  && selectedLot ==null  && selectedProjet ==null && selectedNiveau">
    <div class="group d-flex flex-row">
    <div  *ngFor="let ele of situation.projectDTOS">
      <div class="it item">
        <app-helper-cardconponent 
        [color]="ele.avPgt"
         [title]="ele.avPgt"
          [sub]="ele.avPgt" 
          [icon]="'../../assets/star.png'"
          [val]="ele.avPgt"
           [perc]="ele.avPgt" [ecart]="ele.avPgt"></app-helper-cardconponent>
      </div>
      </div>
    </div>
  </div>



  <div *ngIf="marche == null  && selectedLot ==null  && selectedProjet ==null && selectedNiveau==null">
    <div class="group d-flex flex-row">
      <div class="it item" *ngFor="let ele of situation">
        <app-helper-cardconponent [color]="ele.avPgt" [title]="ele.avPgt" [sub]="ele.avPgt" [icon]="ele.avPgt"
          [val]="ele.avPgt" [perc]="ele.avPgt" [ecart]="ele.avPgt"></app-helper-cardconponent>
      </div>
    </div>
  </div>





</div>